<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}"
>
<head>
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
  <title>Login</title>
</head>

<body>

<div class="container">
  <h2>Login</h2>
  <form class="form" id="loginForm" method="post" action="/home">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
    <a class="small-link" href="/StreamingDiary/register">Register</a>
  </form>


</div>

</body>
</html>